@media screen and (max-width: 768px) {
}

h1, h2, h4 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

nav ul li a {
  padding: 10px;
}

.sign-up table {
  width: 100%;
}

.social-icons a {
  display: inline-block;
  margin: 0 10px;
}


@media screen and (max-width: 768px) {
 
  h1 {
      font-size: 24px;
  }
  h2 {
      font-size: 20px;
  }
  h4 {
      font-size: 16px;
  }

  
  nav ul li a {
      padding: 5px;
  }

  .sign-up table {
      width: 80%;
  }

  
  .social-icons a {
      margin: 0 5px;
  }
}

/* Dina befintliga stilar nedanför */

/* Anpassa placering av sociala ikoner */
.social-icons {
  text-align: center;
}

/* Anpassa storlek på sociala ikoner */
.social-icons a i {
  font-size: 30px;
  color: rgb(20, 119, 121);
}

/* Anpassa storlek på center-ikon */
.center-icon {
  font-size: 32px;
}

/* Anpassa typsnitt och marginaler för hela sidan */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Anpassa header-stilar */
header {
  background-color: #a3dbec;
  color: #333;
  padding: 10px;
  text-align: center;
}

/* Anpassa navigationslistan */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Anpassa navigationslänkar */
nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #13278f;
  text-decoration: none;
}

/* Dropdown-menystilar */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(98, 181, 220);
  z-index: 1;
}

.dropdown-content a {
  color: #13278f;
  padding: 12px 16px;
  display: block;
  text-decoration: none;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.centered-section {
  justify-content: left;
  align-items: left;
}


table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #1c21ae;
  text-align: left;
}

th {
  background-color: #a3dbec;
  color: #333;
}

body {
  background-color: #a3dbec;
  padding: 20px;
  margin-bottom: 20px;
}


.price {
  margin-bottom: 0px;
}
